html{
	margin: 0;
	padding: 0;
}

#findDoctor{
	width: 100vw;
	height: 100vh;
}

.wrapperfd {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
}

.container {
	width: 1000px;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
	0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: white;
}

.head {
	display: flex;
	align-content: center;
	height: 80px;
	background-color: black;
	justify-content: space-between;
}

.logo {
	width: 100px;
	object-fit: contain;
	margin-left: 15px;
}

.body {
	height: 500px;
	display: flex;
}

.table_container {
	flex: 3;
	position: relative;
}

.filter_container {
	/* margin-top: 100px; */
	position: fixed;
	top: 0;
	flex: 5;
}
